# Python Basics

### Note: It's recommended to have knowledge in other programming language such as C++ or Java before starting this tutorial.

<br>

### Python Variables and print() function

* Variable should start with letter or underscore (_), and it can contain numbers.
* Please note that Python is a case sensitive programming language.
####

In [86]:
variable = 1
Variable = 2
x = 3
_variable4 = 4
_ = 5
X = 6
print(variable)
print(Variable)
print(x)
print(_variable4)
print(_)
print(X)

1
2
3
4
5
6

* In Python you don't have to set the data type of the variable such as in C++ or Java, just assign a value to a variable.
####

In [14]:
x = 5
y = "variable_Y"
z = [1,2,3,4,5]
print(x)
print(y)
print(z)

5
variable_Y
[1, 2, 3, 4, 5]

* You can use double quotations (" ") or Single quotations (' ') for Strings.
####

In [ ]:
x = "variable_X"
y = 'variable_y'

* You can use print() function to display a statement or value of one variable or more.
* You can use mathematical operatinos inside print() function.
* To print a new line you can use '\n' and to print a tab space you can use '\t'.
* To print multiple statements or variables you can use (,) or (+), please note that it will be a space after (,).
####

In [40]:
x = 1
y = 2 
z = -5
variable = '2'
userVariable = 'User'
userVariable2 = 'User2'
print(x)
print(userVariable+"\n")
print(x + y)
print(z + x)
print(-z)
print('Hello:\t',userVariable + userVariable2)
print(userVariable+variable)
print(userVariable,variable)

1
User

3
-4
5
Hello:	 UserUser2
User2
User 2

* You can assign the same value to multiple variables in one line.
####

In [41]:
variable1  = variable2 = variable3 = 5
print(variable1)
print(variable2)
print(variable3)

5
5
5

* You can assign multiple values to multiple variables in one line.
####

In [97]:
variable1, variable2, variable3 = 5, 6, 7
print(variable1)
print(variable2)
print(variable3)

5
6
7

* You cannot use (+) between (Int or Float) and (String).
####

In [5]:
print(userVariable,y)

User 2

In [6]:
print(userVariable+y)

TypeError: can only concatenate str (not "int") to str

* You can use (*) between (Int) and (String) to print the string repeatedly (based on the value of the Int).
####

In [17]:
print(userVariable * y)

UserUser

* You can use print(f"{variable}") or print(F"{variable}").
####

In [23]:
print(f"The current number is {1}")
print(F"Your number is {y}")

The current number is 1
Your number is 2

* To print single quotation marks ('') use print("'quotation'") and to print double quotation marks use print('"quotation"').
####

In [37]:
print("Example 'Quotation1'")
print('Example "Quotation2"')

Example 'Quotation1'
Example "Quotation2"

* To print a multiple line use print(""" """) or print(''' ''') and you can use same quotation inside.
####

In [38]:
print("""
      
This
    is
      an 
        Example

      """)


print('''
      
This
    is
      an 
        other
            'Example'

      ''')

This
    is
      an
        Example




This
    is
      an
        other
            'Example'

####
<br>

### Commenting in Python

* You can use (#) for single line comment or ((''' ''') or (""" """)) for multiline comment.
####

In [76]:
# comment
print(1)

1

In [77]:
print(1)
'''
comment1
comment2
comment3

'''
print(2)

1
2

In [78]:
print(1)
"""

comment1
comment2
comment3


"""
print(2)

1
2

####
<br>

### Functions in Python

* To define a function you (def functionName():).
* The space in the block of the function must be the same.
####

In [71]:
def function1():
    print("This is function 1")
    print("Line 2")
    print("Line 3")
function1()

This is function 1
Line 2
Line 3

In [73]:
def function1():
    print("This is function 1")
        print("Line 2")
  print("Line 3")
function1()

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 4)

* Function can be used to return a value or multiple values or to print something or to do other things.
* Functions can have parameters and can have no parameters.
* You can set an initial values for parameters.
* If function has parameters with initial values, you can use it by passing arguments or without passing arguments.
* If function has parameters without initial values, you have to pass arguments.
* If function has no parameters, you cannot pass arguments.
* Number of the arguments should be the same as parameters.
####

In [74]:
def function1(x,y):
    return(x+y)
print(function1(4,5))

9

In [75]:
def function1(x,y):
    return(x+y)
print(function1(4,5,7))

TypeError: function1() takes 2 positional arguments but 3 were given

In [ ]:
def function1(x,y):
    return(x+y)
print(function1(4))

TypeError: function1() missing 1 required positional argument: 'y'

In [ ]:
def function1(x,y):
    return(x+y)
print(function1())

TypeError: function1() missing 2 required positional arguments: 'x' and 'y'

In [ ]:
def function1(x=5,y=8):
    return(x+y)
print(function1())

13

* You can change (overwrite) the value of the initialized parameter.
####

In [ ]:
def function1(x=5,y=8):
    return(x+y)
print(function1(y=2))

7

####
<br>

### Conditional statements in Python

* The Space inside the block must be the same, same as functions.
* You can use conditional statements with or without parentheses (()).
####

#### 1) if Conditional Statement

In [81]:
if 5>3:
    print('True')

True

In [82]:
if 5<3:
    print('True')

 #### 2) if-else Conditional Statement

In [83]:
x = 5
if x == 5:
    print('True')
else:
    print('False')

True

In [84]:
x = 8
if x == 5:
    print('True')
else:
    print('False')

False

#### 3) if-elif-else Conditional Statement

In [91]:
x = 4
y = 9
z = 5
if x == 5: 
    print("x = 5")
elif y == 5:
    print("y = 5")
elif z == 5:
    print("z = 5") 
else:
    print("None of (x, y & z) is equals to 5")

z = 5

#### 4) Nested Conditional Statement

In [94]:
x = 7
y = 3

if x>y:
    print('x is greater than y')
    if x + y == 15:
        print('x + y = 15')
    else:
        print('x + y != 15')

else:
    print("y is greater than x")

x is greater than y
x + y != 15